[Unit]
Description=DIY Pi Camera Clean Modes
After=multi-user.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pi-camera
ExecStart=/opt/pi-camera/pi-camera --fb=/dev/fb0 --width=480 --height=320 --fps=10 --look=LOW32 --api=true --api-url=http://0.0.0.0:5000 --btn-action=-1 --btn-left=-1 --btn-right=-1 --btn-enter=-1 --btn-back=-1
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
